
<div class="modal-cover"></div>

<div class="modal type-01">
    <div class="close-btn"><a href="#"></a></div>
    <p class="text-center read">
        動画の承認が完了しました。
    </p>
    <div class="btn-area one-btn">
        <div class="btn gray-btn prev-btn"><a href="#">閉じる</a></div>
    </div>
</div>

<div class="modal type-02">
    <div class="close-btn"><a href="#"></a></div>
    <p class="text-center read">
        動画の否認が完了しました。
    </p>
    <div class="btn-area one-btn">
        <div class="btn gray-btn prev-btn"><a href="#">閉じる</a></div>
    </div>
</div>

<div class="modal type-03">
    <div class="close-btn"><a href="javascript:void(0);"></a></div>
    <div class="movie-area">
        <div class="movie">
            <video id="azuremediaplayer" class="azuremediaplayer amp-default-skin amp-big-play-centered" tabindex="0"></video>
        </div>
        <p class="user-id"></p>
        <p class="title"></p>
        <p class="description"></p>
    </div>
    
    <%
    var modalData = [
        //{className: 'time', label: '再生時間', contents: ''},
        {className: 'upload', label: 'アップロード', contents: '<span class="created_at"></span><span class="uploaded_by"></span>'},
        {className: 'date', label: '上映予定日', contents: '<span class="held_from"></span><span class="place">'}
    ];
    modalData.forEach((data, index) => { 
        var className = (index % 2 === 0)? 'odd' : 'even';
    %>
    <div class="info <%= className %>">
        <dl class="<%= data.className %> d-table">
            <dt class="d-td"><%= data.label %></dt><dd class="d-td"><%- data.contents %></dd>
        </dl>
    </div>
    <% }) %>
    
    <div class="btn gray-btn download-btn">
        <a href="javascript:void(0);">動画をダウンロード</a>
    </div>
    <div class="btn-area clearfix">
        <div class="inner">
            <div class="btn gray-btn next-btn">
                <div><a href="javascript:void(0);">承認する</a></div>
            </div>
            <div class="btn gray-btn prev-btn">
                <div><a href="javascript:void(0);">承認しない</a></div>
            </div>
        </div>
    </div>
</div>

<div class="modal type-04">
    <div class="close-btn"><a href="javascript:void(0);"></a></div>
    <p class="text-center read">動画を承認しますか？</p>
    <%
    var modalData = [
        {className: 'date', label: '上映予定日'},
        {className: 'screen', label: '上映劇場'},
        {className: 'title', label: '作品名'},
        //{className: 'time', label: '再生時間'},
        {className: 'user', label: 'ユーザー名'},
        {className: 'description', label: '動画概要'}
    ];
    modalData.forEach((data, index) => { 
        var className = (index % 2 === 0)? 'odd' : 'even';
    %>
    <div class="info <%= className %>">
        <dl class="<%= data.className %> d-table">
            <dt class="d-td"><%= data.label %></dt><dd class="d-td"></dd>
        </dl>
    </div>
    <% }) %>
    
    
    <div class="btn-area clearfix">
        <div class="inner">
            <div class="btn gray-btn next-btn">
                <div><a href="javascript:void(0);">はい</a></div>
            </div>
            <div class="btn gray-btn prev-btn">
                <div><a href="javascript:void(0);">いいえ</a></div>
            </div>
        </div>
    </div>
</div>

<div class="modal type-05">
    <div class="close-btn"><a href="javascript:void(0);"></a></div>
    <p class="text-center read">アカウントを発行しますか?</p>
    <%
    var modalData = [
        {className: 'email', label: '申請者メールアドレス', required: true},
        {className: 'user_id', label: 'ユーザーID', required: true},
        {className: 'password', label: 'パスワード', required: true},
        {className: 'held', label: '上映日時', required: true},
        {className: 'place', label: '上映場所', required: true},
        {className: 'remarks', label: '備考', required: false}
    ];
    modalData.forEach((data, index) => { 
        var className = (index % 2 === 0)? 'odd' : 'even';
        var required = (data.required) ? '<span class="red-text">※</span>' : '';
    %>
    <div class="info <%= className %>">
        <dl class="<%= data.className %> d-table">
            <dt class="d-td"><%= data.label %><%- required %></dt><dd class="d-td"></dd>
        </dl>
    </div>
    <% }) %>
    
    
    <div class="btn-area clearfix">
        <div class="inner">
            <div class="btn gray-btn next-btn">
                <div><a href="javascript:void(0);">はい</a></div>
            </div>
            <div class="btn gray-btn prev-btn">
                <div><a href="javascript:void(0);">いいえ</a></div>
            </div>
        </div>
    </div>
</div>

<div class="modal type-06">
    <div class="close-btn"><a href="<%- url('events', {}) %>"></a></div>
    <p class="text-center read">
        予約の追加が完了しました。
    </p>
    <div class="btn-area one-btn">
        <div class="btn gray-btn"><a href="<%- url('events', {}) %>">閉じる</a></div>
    </div>
</div>

<div class="modal type-07">
    <div class="close-btn"><a href="javascript:void(0);"></a></div>
    <p class="text-center read">
        動画否認の理由を記入して送信ボタンを押してください。
    </p>
    <div class="text-area"><textarea></textarea></div>
    <div class="btn-area clearfix">
        <div class="inner">
            <div class="btn gray-btn next-btn">
                <div><a href="javascript:void(0);">送信</a></div>
            </div>
            <div class="btn gray-btn prev-btn">
                <div><a href="javascript:void(0);">戻る</a></div>
            </div>
        </div>
    </div>
</div>

<div class="modal type-08">
    <div class="close-btn"><a href="javascript:void(0);"></a></div>
    <p class="text-center read">予約を削除しますか？</p>
    
    <div class="btn-area clearfix">
        <div class="inner">
            <div class="btn gray-btn next-btn">
                <div><a href="javascript:void(0);">はい</a></div>
            </div>
            <div class="btn gray-btn prev-btn">
                <div><a href="javascript:void(0);">いいえ</a></div>
            </div>
        </div>
    </div>
</div>

<div class="modal type-09">
    <div class="close-btn"><a href="<%- url('events', {}) %>"></a></div>
    <p class="text-center read">
        予約の削除が完了しました。
    </p>
    <div class="btn-area one-btn">
        <div class="btn gray-btn prev-btn"><a href="javascript:void(0);">閉じる</a></div>
    </div>
</div>





<div class="modal type-logout">
    <div class="close-btn"><a href="/admin"></a></div>
    <p class="text-center read">
        ログアウトが完了しました。
    </p>
    <div class="btn-area one-btn">
        <div class="btn gray-btn"><a href="/admin">閉じる</a></div>
    </div>
</div>