<div class="item">
    <input type="hidden" name="id" value="<%- media.id %>" />
    <input type="hidden" name="event_id" value="<%- media.event_id %>" />
    <input type="hidden" name="title" value="<%- media.title %>" />
    <input type="hidden" name="place" value="<%- event.place %>" />
    <input type="hidden" name="held_from" value="<%- (moment(event.held_from)).utcOffset('+09:00').format('YYYY/MM/DD HH:mm') %>" />
    <input type="hidden" name="description" value="<%- media.description %>" />
    <input type="hidden" name="uploaded_by" value="<%- media.uploaded_by %>" />
    <input type="hidden" name="filename" value="<%- media.filename %>" />
    <input type="hidden" name="extension" value="<%- media.extension %>" />
    <input type="hidden" name="asset_id" value="<%- media.asset_id %>" />
    <input type="hidden" name="job_id" value="<%- media.job_id %>" />
    <input type="hidden" name="deleted_at" value="<%- media.deleted_at %>" />
    <input type="hidden" name="created_at" value="<%- (moment(media.created_at)).utcOffset('+09:00').format('YYYY/MM/DD HH:mm') %>" />
    <input type="hidden" name="updated_at" value="<%- (moment(media.updated_at)).utcOffset('+09:00').format('YYYY/MM/DD HH:mm') %>" />
    <input type="hidden" name="application_id" value="<%- media.application_id %>" />
    <input type="hidden" name="application_remarks" value="<%- media.application_remarks %>" />
    <input type="hidden" name="application_reject_reason" value="<%- media.application_reject_reason %>" />
    <input type="hidden" name="application_status" value="<%- media.application_status %>" />
    <input type="hidden" name="media_url_streaming" value="<%- media.url_streaming %>" />

    <div class="d-table">
        <div class="d-td thumb">
            <% if (media.url_thumbnail) { %>
            <a href=""><img src="<%- media.url_thumbnail %>" alt="<%- media.title %>"></a>
            <% } else { %>
            <span></span>
            <% } %>
        </div>
        <div class="d-td info">
            <div class="group">
                <span class="type text-center">動画</span>
                <span class="date"><%- (moment(media.created_at)).utcOffset('+09:00').format('YYYY/MM/DD HH:mm') %></span>
                <span class="author"><%- media.uploaded_by %></span>
                <span class="time">再生時間 : ??分??秒</span>
            </div>
            <div class="title"><%- media.title %></div>
        </div>
        <div class="d-td control">
            <div class="group clearfix">
                <% if (media.status !== mediaModel.STATUS_ERROR) { %>
                    <%  if (media.status >= mediaModel.STATUS_PUBLISHED) { %>
                    <div class="btn gray-btn original-btn ">
                        <a href="javascript:void(0);"><span>元データ</span></a>
                    </div>
                    <% } %>

                    <%  if (media.status === mediaModel.STATUS_JPEG2000_PUBLISHED) { %>
                    <div class="btn gray-btn download-jpeg2000-btn ">
                        <a href="javascript:void(0);"><span>JPEG2000</span></a>
                    </div>
                    <%  } else if (media.status === mediaModel.STATUS_PUBLISHED) { %>
                    <div class="btn gray-btn encode-btn ">
                        <a href="javascript:void(0);"><span>JPEG2000<br>エンコード</span></a>
                    </div>
                    <%  } else if (media.status === mediaModel.STATUS_JPEG2000_READY) { %>
                    <div class="btn gray-btn encodeing-btn not-active pressed">
                        <a href="javascript:void(0);">エンコード中<div class="progress-bar"></div></a>
                    </div>
                    <% } %>
                <% } %>
            </div>
        </div>

        <div class="d-td status">
            <% if (media.status < mediaModel.STATUS_JOB_CREATED) { // ジョブ登録待ち %>
                <div class="status-box status-encod-waiting">
                    <div class="text">動画変換待機中</div><div class="progress-bar"></div>
                </div>

            <% } else if (media.status < mediaModel.STATUS_PUBLISHED) { // ジョブ進行中 %>
                <div class="status-box status-encoding">
                    <% var progress = Math.floor((media.task_progress_thumbnail + media.task_progress_mp4 + media.task_progress_streaming) / 3) %>
                    <div class="text">動画変換中</div><div class="progress-bar"><div class="progress-inner" style="width: <%- progress %>%;"></div></div><div class="time"><%- progress %>%</div>
                </div>

            <% } else if (media.status === mediaModel.STATUS_ERROR) { // エラー %>
                <div class="status-box status-denial">
                    <span class="warning-icon">エラー</span>
                </div>

            <% } else if (media.status >= mediaModel.STATUS_PUBLISHED) { %>
                <% if (event.application_status) { %>
                    <% if (event.application_media_id === media.id) { %>
                        <% if (event.application_status === applicationModel.STATUS_CREATED) { // 申請中 %>
                            <div class="status-box status-applying">
                                動画申請中
                            </div>
                        <% } else if (event.application_status === applicationModel.STATUS_ACCEPTED) { // 承認 %>
                            <div class="status-box status-filed">
                                動画承認済
                            </div>
                        <% } else if (event.application_status === applicationModel.STATUS_REJECTED) { // 否認 %>
                            <div class="status-box status-denial">
                                <span class="warning-icon">動画否認</span>
                            </div>
                        <% } else if (event.application_status === applicationModel.STATUS_REST) { // リセット %>
                            <div class="status-box status-waiting">
                                動画申請待ち
                            </div>
                        <% } else if (event.application_status === applicationModel.STATUS_DELETED) { // 削除済み %>
                            <div class="status-box status-waiting">
                                削除済み
                            </div>
                        <% } else if (event.application_status === applicationModel.STATUS_END) { // 上映済み %>
                            <div class="status-box status-waiting">
                                上映済み
                            </div>
                        <% } %>  
                    <% } else { %>
                        <% if (event.application_status === applicationModel.STATUS_ACCEPTED) { %>
                            <div class="status-box status-other-applying">
                                他の動画が承認済です
                            </div>
                        <% } else if (event.application_status === applicationModel.STATUS_REJECTED) { %>
                            <div class="status-box status-waiting">
                                動画申請待ち
                            </div>
                        <% } else { %>
                            <div class="status-box status-other-applying">
                                他の動画が申請中です
                            </div>
                        <% } %>
                    <% } %>
                 <% } else { %>
                    <div class="status-box status-waiting">
                        動画申請待ち
                    </div>
                 <% } %>
                
            <% } %>
        </div>
<!--
        <div class="d-td status">
            <div class="status-box status-waiting">
                動画申請待ち
            </div>
        </div>
        <div class="d-td status">
            <div class="status-box status-encod-waiting">
                <div class="text">動画変換待機中</div><div class="progress-bar"></div>
            </div>
        </div>
        <div class="d-td status">
            <div class="status-box status-encoding">
                <div class="text">動画変換中</div><div class="progress-bar"><div class="progress-inner"></div></div><div class="time">70% / 残り約50分</div>
            </div>
        </div>
        <div class="d-td status">
            <div class="status-box status-applying">
                動画申請中
            </div>
        </div>
        <div class="d-td status">
            <div class="status-box status-other-applying">
                他の動画が申請中です
            </div>
        </div>
        <div class="d-td status">
            <div class="status-box status-denial">
                <span class="warning-icon">動画否認</span>
            </div>
        </div>
        <div class="d-td status">
            <div class="status-box status-filed">
                動画承認済
            </div>
        </div>
-->
    </div>
</div>