<style>
form label {
    display :none;
}
</style>

<form method="post">
    <%- form.fields.id.toHTML() %>
    <%- form.fields.held_from.toHTML() %>
    <%- form.fields.held_to.toHTML() %>

    <div class="input-area">
        <div class="validation clearfix red-text">
            <ul>
            </ul>
        </div>

        <dl class="d-table ">
            <dt class="d-td text-right"><%- form.fields.email.labelText() %><span class="red-text">※</span></dt>
            <dd class="d-td"><%- form.fields.email.toHTML() %></dd>
        </dl>

        <dl class="d-table ">
            <dt class="d-td text-right"><%- form.fields.user_id.labelText() %><span class="red-text">※</span></dt>
            <dd class="d-td"><%- form.fields.user_id.toHTML() %></dd>
        </dl>

        <dl class="d-table ">
            <dt class="d-td text-right"><%- form.fields.password.labelText() %><span class="red-text">※</span></dt>
            <dd class="d-td"><%- form.fields.password.toHTML() %></dd>
        </dl>

        <dl class="d-table ">
            <dt class="d-td text-right"><%- form.fields.password_confirm.labelText() %><span class="red-text">※</span></dt>
            <dd class="d-td"><%- form.fields.password_confirm.toHTML() %></dd>
        </dl>

        <dl class="d-table ">
            <dt class="d-td text-right">上映日時<span class="red-text">※</span></dt>
            <dd class="d-td"><input type="text" name="held"></input></dd>
        </dl>

        <dl class="d-table ">
            <dt class="d-td text-right"><%- form.fields.place.labelText() %><span class="red-text">※</span></dt>
            <dd class="d-td"><%- form.fields.place.toHTML() %></dd>
        </dl>

        <dl class="d-table remarks">
            <dt class="d-td text-right"><%- form.fields.remarks.labelText() %></dt>
            <dd class="d-td"><%- form.fields.remarks.toHTML() %></dd>
        </dl>
    </div>

    <div class="btn-area clearfix">
        <div class="inner">
            <div class="btn gray-btn next-btn">
                <div><a href="javascript:void(0);">登録</a></div>
            </div>
            <div class="btn gray-btn prev-btn">
                <div><a href="<%- url('events', {}) %>">戻る</a></div>
            </div>
        </div>
    </div>
</form>