<%- include('../header') -%>

<script src="/js/admin/event/index.js"></script>

<body class="admin">
    <div class="wrapper reservation-list">
        <%- include('../common/user_header') -%>

        <form method="post">
            <div class="contents">
                <h1 class="page-ttl">予約一覧</h1>
                <div class="inner">
                    <!--
                    <div class="search-box clearfix">
                        <dl>
                            <dt>上映月</dt>
                            <dd>
                                <select name="search_month">
                                    <option value="all">すべて</option>
                                </select>
                            </dd>
                            <dt>ステータス</dt>
                            <dd>
                                <select name="search_status">
                                    <option value="all">すべて</option>
                                </select>
                            </dd>
                            <dt><input type="text" name="search_word"></dt>
                            <dd>
                                <div class="btn gray-btn"><a href="#">検索</a></div>
                            </dd>
                        </dl>
                    </div>
                    -->
                    <div class="list-number"><%- events.length %>件中 1~<%- events.length %>件を表示</div>
                    <div class="item-list">
                        <% events.forEach(function(event) { %>
                        <%- include('./_item', {event: event}) -%>
                        <% }) %>
                    </div>
                    <!--
                    <div class="pager">
                        <ul>
                            <li class="prev-btn"><a href="#"></a></li>
                            <li class="current"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li class="next-btn"><a href="#"></a></li>
                        </ul>
                    </div>
                    -->
                </div>
            </div>
        </form>

        <%- include('../common/modals') -%>

        <%- include('../common/user_footer') -%>
    </div>
</div>
</body>

<%- include('../footer') -%>