<%- include('../header') -%>

<body class="admin">
    <div class="wrapper movie-list">
        <%- include('../common/user_header') -%>

        <form action="/admin/reservation/list/" method="post">
            <div class="contents">
                <h1 class="page-ttl">動画一覧</h1>
                <div class="inner">

                    <dl class="user-info">
                        <dt>ユーザーID : <span>ユーザーIDユーザーIDユーザーIDユーザーIDユーザーIDユーザーID</span></dt>
                        <dd>
                            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
                            トテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ
                            ストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                        </dd>
                    </dl>

                    <div class="item-list">
                        
                        <div class="item">
                            <div class="d-table">
                                <div class="d-td thumb">
                                    <a href="000000001"><img src="000000001" alt="000000001"></a>
                                </div>
                                <div class="d-td info">
                                    <div class="group">
                                        <span class="type text-center">動画</span>
                                        <span class="date">2016/3/10/14</span>
                                        <span class="author">作成者名作成者名</span>
                                        <span class="time">再生時間 : 20分10秒</span>
                                    </div>
                                    <div class="title"><a href="000000001">動画名動画名動画名動画名動画名動画名動画名動画名動画名</a></div>
                                </div>
                                <div class="d-td control">
                                    <div class="group clearfix">
                                        <div class="btn gray-btn original-btn ">
                                            <a href="000000001"><span>元データ</span></a>
                                        </div>
                                        <div class="btn gray-btn encode-btn ">
                                            <a href="000000001"><span>JPEG2000</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-td status">
                                    <div class="status-box status-waiting">
                                        動画申請待ち
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="d-table">
                                <div class="d-td thumb">
                                    <a href="000000002"><img src="000000002" alt="000000002"></a>
                                </div>
                                <div class="d-td info">
                                    <div class="group">
                                        <span class="type text-center">動画</span>
                                        <span class="date">2016/3/10/14</span>
                                        <span class="author">作成者名作成者名</span>
                                        <span class="time">再生時間 : 20分10秒</span>
                                    </div>
                                    <div class="title"><a href="000000002">動画名動画名動画名動画名動画名動画名動画名動画名動画名</a></div>
                                </div>
                                <div class="d-td control">
                                    <div class="group clearfix">
                                        <div class="btn gray-btn original-btn light-gray-btn not-active">
                                            <a href="000000002"><span>元データ</span></a>
                                        </div>
                                        <div class="btn gray-btn encode-btn light-gray-btn not-active">
                                            <a href="000000002"><span>JPEG2000</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-td status">
                                    <div class="status-box status-encod-waiting">
                                        <div class="text">動画変換待機中</div><div class="progress-bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="d-table">
                                <div class="d-td thumb">
                                    <a href="000000003"><img src="000000003" alt="000000003"></a>
                                </div>
                                <div class="d-td info">
                                    <div class="group">
                                        <span class="type text-center">動画</span>
                                        <span class="date">2016/3/10/14</span>
                                        <span class="author">作成者名作成者名</span>
                                        <span class="time">再生時間 : 20分10秒</span>
                                    </div>
                                    <div class="title"><a href="000000003">動画名動画名動画名動画名動画名動画名動画名動画名動画名</a></div>
                                </div>
                                <div class="d-td control">
                                    <div class="group clearfix">
                                        <div class="btn gray-btn original-btn light-gray-btn not-active">
                                            <a href="000000003"><span>元データ</span></a>
                                        </div>
                                        <div class="btn gray-btn encode-btn light-gray-btn not-active">
                                            <a href="000000003"><span>JPEG2000</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-td status">
                                    <div class="status-box status-encoding">
                                        <div class="text">動画変換中</div><div class="progress-bar"><div class="progress-inner"></div></div><div class="time">70% / 残り約50分</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="d-table">
                                <div class="d-td thumb">
                                    <a href="000000004"><img src="000000004" alt="000000004"></a>
                                </div>
                                <div class="d-td info">
                                    <div class="group">
                                        <span class="type text-center">動画</span>
                                        <span class="date">2016/3/10/14</span>
                                        <span class="author">作成者名作成者名</span>
                                        <span class="time">再生時間 : 20分10秒</span>
                                    </div>
                                    <div class="title"><a href="000000004">動画名動画名動画名動画名動画名動画名動画名動画名動画名</a></div>
                                </div>
                                <div class="d-td control">
                                    <div class="group clearfix">
                                        <div class="btn gray-btn original-btn ">
                                            <a href="000000004"><span>元データ</span></a>
                                        </div>
                                        <div class="btn gray-btn encode-btn ">
                                            <a href="000000004"><span>JPEG2000</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-td status">
                                    <div class="status-box status-applying">
                                        動画申請中
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="d-table">
                                <div class="d-td thumb">
                                    <a href="000000005"><img src="000000005" alt="000000005"></a>
                                </div>
                                <div class="d-td info">
                                    <div class="group">
                                        <span class="type text-center">動画</span>
                                        <span class="date">2016/3/10/14</span>
                                        <span class="author">作成者名作成者名</span>
                                        <span class="time">再生時間 : 20分10秒</span>
                                    </div>
                                    <div class="title"><a href="000000005">動画名動画名動画名動画名動画名動画名動画名動画名動画名</a></div>
                                </div>
                                <div class="d-td control">
                                    <div class="group clearfix">
                                        <div class="btn gray-btn original-btn ">
                                            <a href="000000005"><span>元データ</span></a>
                                        </div>
                                        <div class="btn gray-btn encode-btn ">
                                            <a href="000000005"><span>JPEG2000</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-td status">
                                    <div class="status-box status-other-applying">
                                        他の動画が申請中です
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="d-table">
                                <div class="d-td thumb">
                                    <a href="000000006"><img src="000000006" alt="000000006"></a>
                                </div>
                                <div class="d-td info">
                                    <div class="group">
                                        <span class="type text-center">動画</span>
                                        <span class="date">2016/3/10/14</span>
                                        <span class="author">作成者名作成者名</span>
                                        <span class="time">再生時間 : 20分10秒</span>
                                    </div>
                                    <div class="title"><a href="000000006">動画名動画名動画名動画名動画名動画名動画名動画名動画名</a></div>
                                </div>
                                <div class="d-td control">
                                    <div class="group clearfix">
                                        <div class="btn gray-btn original-btn ">
                                            <a href="000000006"><span>元データ</span></a>
                                        </div>
                                        <div class="btn gray-btn encode-btn ">
                                            <a href="000000006"><span>JPEG2000</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-td status">
                                    <div class="status-box status-filed">
                                        動画承認済
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="d-table">
                                <div class="d-td thumb">
                                    <a href="000000007"><img src="000000007" alt="000000007"></a>
                                </div>
                                <div class="d-td info">
                                    <div class="group">
                                        <span class="type text-center">動画</span>
                                        <span class="date">2016/3/10/14</span>
                                        <span class="author">作成者名作成者名</span>
                                        <span class="time">再生時間 : 20分10秒</span>
                                    </div>
                                    <div class="title"><a href="000000007">動画名動画名動画名動画名動画名動画名動画名動画名動画名</a></div>
                                </div>
                                <div class="d-td control">
                                    <div class="group clearfix">
                                        <div class="btn gray-btn original-btn light-gray-btn not-active">
                                            <a href="000000007"><span>元データ</span></a>
                                        </div>
                                        <div class="btn gray-btn encode-btn light-gray-btn not-active">
                                            <a href="000000007"><span>JPEG2000</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-td status">
                                    <div class="status-box status-denial">
                                        <span class="warning-icon">動画否認</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="btn-area one-btn">
                        <div class="inner">
                            <div class="btn gray-btn prev-btn">
                                <div><a href="#">戻る</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <%- include('../common/modals') -%>

        <%- include('../common/user_footer') -%>
    </div>
</div>
</body>

<%- include('../footer') -%>