<%- include('../header') -%>

<script src="/js/admin/event/medias.js"></script>

<body class="admin">
    <div class="wrapper movie-list">
        <%- include('../common/user_header') -%>

        <form action="/admin/reservation/list/" method="post">
            <div class="contents">
                <h1 class="page-ttl">動画一覧</h1>
                <div class="inner">

                    <dl class="user-info">
                        <dt>ユーザーID : <span><%- event.user_id %></span></dt>
                        <% if (event.application_remarks) { %>
                        <dd><%- event.application_remarks.replace(/[\n\r]/g, "<br>") %></dd>
                        <% } %>
                    </dl>

                    <div class="item-list">
                        <% medias.forEach((media) => { %>
                        <%- include('./_mediaItem', {media: media}) -%>
                        <% }); %>
                    </div>
                    <div class="btn-area one-btn">
                        <div class="inner">
                            <div class="btn gray-btn prev-btn">
                                <div><a href="/admin/events/">戻る</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <%- include('../common/modals') -%>

        <%- include('../common/user_footer') -%>
    </div>
</div>
</body>

<%- include('../footer') -%>