<%- include('../header') -%>

<script src="/js/admin/event/form.js"></script>

<body class="admin">
    <div class="wrapper reservation-add">
        <%- include('../common/user_header') -%>

        <div class="contents">
            <h1 class="page-ttl">予約追加</h1>
            <div class="inner">
                <p class="text-center">必須事項を入力して「登録」ボタンを押すとアカウントの発行が完了します。※マークは必須です。</p>

                <%- include('./form') -%>
            </div>
        </div>

        <%- include('../common/modals') -%>

        <%- include('../common/user_footer') -%>
    </div>
</div>
</body>

<%- include('../footer') -%>