<style>
form label {
    display :none;
}
</style>

<form method="post">
    <%- form.fields.id.toHTML() %>
    <%- form.fields.asset_id.toHTML() %>
    <%- form.fields.filename.toHTML() %>
    <%- form.fields.extension.toHTML() %>
    <%- form.fields.size.toHTML() %>
    <input type="hidden" name="max_block_size" value="4194304">

    <div class="input-area">
        <div class="validation clearfix red-text active">
        </div>

        <dl class="d-table ">
            <dt class="d-td text-right"><%- form.fields.title.labelText() %><span class="red-text">※</span></dt>
            <dd class="d-td"><%- form.fields.title.toHTML() %></input></dd>
        </dl>

        <dl class="d-table movie-description">
            <dt class="d-td text-right"><%- form.fields.description.labelText() %><span class="red-text">※</span></dt>
            <dd class="d-td"><%- form.fields.description.toHTML() %></dd>
        </dl>

        <dl class="d-table ">
            <dt class="d-td text-right"><%- form.fields.uploaded_by.labelText() %><span class="red-text">※</span></dt>
            <dd class="d-td"><%- form.fields.uploaded_by.toHTML() %></dd>
        </dl>

        <% if (!form.fields.id.value) { %>
        <dl class="d-table movie-file">
            <dt class="d-td text-right">動画<span class="red-text">※</span></dt>
            <dd class="d-td">
                <div class="file-area"><span class="file-value"></span><div class="btn gray-btn"><label class="file-cover">選択<input type="file" class="required" name="file"></label></div></div>
                <p>※動画形式は、XXXXX、XXXXX、XXXXXのいずれかにしてください。</p>
            </dd>
        </dl>
        <% } %>
    </div>

    <div class="btn-area clearfix">
        <div class="inner">
            <div class="btn red-btn next-btn">
                <div><a href="javascript:void(0);">動画登録</a></div>
            </div>
            <div class="btn gray-btn prev-btn">
                <div><a href="<%- url('medias', {}) %>">戻る</a></div>
            </div>
        </div>
    </div>
</form>