<%- include('../header') -%>

<script src="/js/media/form.js"></script>

<body class="mypage">
    <div class="wrapper movie-registration">
        <%- include('../common/user_header') -%>

        <div class="contents">
            <h1 class="page-ttl">動画登録</h1>
            <div class="inner">
                <p class="text-center">必須事項を入力して「動画登録」ボタンを押すと動画のアップロードが完了します。 ※マークは必須事項です。</p>

                <%- include('./form') -%>
            </div>
        </div>

        <%- include('../common/modals') -%>

        <%- include('../common/user_footer') -%>
    </div>
</div>
</body>

<%- include('../footer') -%>