<%- include('header') -%>

<style>
.field label {
    display :none;
}
.field {
    display: inline-block;
}
</style>

<body class="admin login-bg">
    <div class="wrapper login">
        <form action="<%- url('login', {}) %>" method="post">
            <div class="contents">
                <div class="logo">
                    <div class="logo-image"><img src="/images/login/logo.png" alt="映画.comシネマ アミューあつぎ"></div>
                    <div class="page-type text-center">上映システム 管理画面</div>
                </div>
                <div class="validation text-center">
                    <% if (form.data) { %>
                    <p>
                        <% Object.keys(form.fields).forEach(function (key) { %>
                            <% if (form.fields[key].error) { %>
                            <%- form.fields[key].error %><br>
                            <% } %>
                        <% }) %>
                    </p>
                    <% } %>

                </div>
                <div class="input-area">
                    <dl class="d-table user-id">
                        <dt class="d-td text-right"><%- form.fields.user_id.labelText() %></dt>
                        <dd class="d-td"><%- form.fields.user_id.toHTML() %></dd>
                    </dl>
                    <dl class="d-table password">
                        <dt class="d-td text-right"><%- form.fields.password.labelText() %></dt>
                        <dd class="d-td"><%- form.fields.password.toHTML() %></dd>
                    </dl>
                    <div class="auto-login text-center"><label style="display: inline"><%- form.fields.auto_login.toHTML() %>次回から自動的にログイン</label></div>
                    <div class="btn gray-btn"><a href="javascript:void(0);">利用規約に同意の上ログイン</a></div>
                </div>
                
            </div>
        </form>

        <%- include('common/user_footer') -%>
    </div>
</body>

<%- include('footer') -%>